body{
    background: #000 !important;
    margin:0 !important;
    padding:0 !important;
    font-family: sans-serif !important;
}
.launchpad-Outer-Container{
    width:100%;
    height: 100vh;
    color:#fff;
}
.launchpad-nav{
    height: 100px;
}
.sidebar-left{
    width:15% !important;
}
.sidebar-right{
    width:85%;
}

.fa-launchpad-title{
    font-size:24px !important;
}
.card-body-icon{
    font-size: 22px !important;
}
.launchpad-title {
    background: #232323 !important;
}
.launchpad-card-body{
    height: 120px;
    background:#232323;
    position:relative;
}
.launchpad-card-body::before{
    position:absolute;
    content:"";
    top:-6px;
    left:5px;
    width:40px;
    border-radius: 0px 35px 35px 35px;
    height:40px;
    transform:rotateZ(35deg);
    background:#444;
    z-index:-1;
}
@media screen and (max-width:768px){
    .test-scroll{
        overflow-y:scroll !important;
        height: 85vh;
    }
}

.launchpad-card-body div:nth-child(odd){
    background:#444;
    width:100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
}
.launchpad-card-body div:nth-child(even){
    background:#232323;
    width:100%;
    height: 50%;
}
.card-full{
    height: 100% !important;
    border-radius: 5px !important;
}

.spend div{
    height: 33.33% !important;
}
.spend div:nth-child(3){
    border-radius: 0;
}
.c-hover{    
    transition: all 400ms ease-in;
    cursor: pointer;
   
}
.c-hover:hover{
    transition: all 0.4s ease-in-out;
    letter-spacing: 3px;
    font-size: 1.2em;
    background:#ececec !important;
    color:#000;
    font-weight: bold;
    /* box-shadow: 5px 2px 1px 0px #8e8e8e; */
}
.c-hover:hover .card-body-icon{
    font-size: 30px !important;
    transition: all 0.4s ease-in-out;
}
.launchpad-card-body:hover::before{
    background:#ececec !important;
}

.c-hover-f:hover{
    transform: scale(1.05,1.2) translateY(-5px); 
    box-shadow: 7px 5px 2px #000;

}
.c-hover-s:hover{
    transform: scale(1.05,1.2) translateY(5px);  
    border-radius: 5px 5px 0 0;
    box-shadow: 7px -2px 2px #000;
}
.c-hover-first:hover{
    transform: scale(1.01, 1.5) translateY(-10px);  
    box-shadow: 7px 5px 2px #000;
}
.c-hover-second:hover{
    transform: scale(1.01, 1.5); 
    box-shadow: 7px -2px 2px #000;
}
.c-hover-third:hover{
    transform: scale(1.01, 1.5) translateY(10px);  
    box-shadow: 7px -2px 2px #000;
}